# Node modules
node_modules/

# Build outputs
.next/
out/

# Dependency directories
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tailwind CSS cache
.tailwind/

# Misc
.DS_Store
Thumbs.db

# Editor specific
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace
